.swiperImg {
  width: 100%;
}

.swiperP {
  color: #666;
  margin: 2%;
}

.carePlan {
  width: 80%;
  margin: auto;
}

.productSwiper {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.productSwiper p {
  color: #212121;
}

.productSwiper button {
  color: white;
  font-size: 1rem;
  padding: 0 10px;
  background-color: #ff6f61;
}
