.NBsearchresultContainer {
    /* border: 1px solid red; */
    width: 470px;
    margin-left: 18.4%;
    position: absolute;
    z-index: 10;
    background-color: white;
    top: 106px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.NBsearchresultContainer a {
    border: 1px solid rgba(128, 128, 128, 0.345);
    display: block;
    padding: 10px 15px;
    text-align: left;
}

.NBsearchresultContainer a:hover {
    background-color: #ffcca391;
}

@media (max-width:770px) {
    .NBsearchresultContainer {
        top: 143px;
        width: 86%;
        margin: auto;
        left: 44px;
    }
}