.one{
    width:100%;
    
    /* background-color: rgb(43, 42, 42); */
}
.two{
    margin-top: 5px;
    border-top: 3px solid white;
}

.two img{
    width:50px;
}
.head{
    /* background-color: rgb(155, 149, 149); */
    border: 2px solid white;
    margin-bottom: 20px;
   border-bottom: 2px solid white;
   
}







.ip{
    border: 1px solid blue;
    margin-top: 20px;
    height:80px;
    width:40px;
    color: black;

}

.ip :hover{
    border: 1px solid blue;
}

.abc{
    border: 1px solid red;
    width:40%;
    margin-left: 35%;
}


#size{
    width: 100px;
}