.Ltfirstdiv {
    /* border: 1px solid red; */
    padding: 30px 10% 150px 10%;
    background-color: #F7F9FC;
    display: flex;
    gap: 20px;

}

.Ltfirstdiv>div {
    width: 50%;
}

.fiveBoxLT {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.fiveBoxLT div {
    border-right: 1px solid rgba(128, 128, 128, 0.222);
}

.fiveBoxLT div:last-child {
    border: none;
}

.Ltfirstdiv h1 {
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-bottom: 7px;
}

.Ltfirstdiv p {
    font-size: 15px;
    text-align: left;
}

.fiveBoxLT p {
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
}

.fiveBoxLT img {
    width: 40px;
    margin: auto;
}

.Ltfirstdiv button {
    background-color: #FF6F61;
    color: white;
    font-weight: bold;
    padding: 7px 27px;
    border-radius: 4px;
    float: left;
    margin-top: 30px;
}

.LTsecondDiv {
    /* border: 1px solid green; */
    width: 80%;
    margin: auto;
    color: #212121;
    position: relative;
    bottom: 100px;
}

.LTsecondDiv h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;

}

.LTsecondDiv h3 {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.LTsecondDiv p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.LTsecondDiv>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    padding-bottom: 30px;
}

.LTsecondDiv>div>div>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.LTsecondDiv>div>div {
    padding: 20px;
}

.LTsecondDiv>div>div:last-child {
    border-left: 1px solid rgba(128, 128, 128, 0.349);
}

.LTsecondDiv button {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    padding: 7px 25px;
    margin: auto;
    align-items: center;
    gap: 10px;
    border-radius: 49px;
    font-weight: bold;
    color: #FF6F61;
    position: relative;
    bottom: 20px;
    background-color: white;
}

.LTviewall h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.LTviewall {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: left;
    color: #212121;
    margin-top: 30px;
}

.LTviewall p {
    border: 1px solid rgba(128, 128, 128, 0.552);
    padding: 5px 10px;
    border-radius: 20px;
}

.LTviewall>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    gap: 10px;
}

.LTviewall>div p:first-child {
    color: white;
    background-color: gray;
}

.LTviewall>div p:last-child {
    font-weight: bold;
    color: #FF6F61;
    border: none;
}

.fourFlex {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 20px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.679);
}

.fourFlex>div {
    border: 1px solid rgba(128, 128, 128, 0.433);
    text-align: left;
    border-radius: 3px;
    padding: 10px;
}

.fourFlex>div h2 {
    /* border: 1px solid green; */
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
}

.fourFlex p {
    font-size: 12px;
}

.fourFlex>div>h2>p {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    background-color: #FFE3C2;
}

.fourFlex>div>div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.fourFlex>div>div p {
    display: flex;
    align-items: center;
    background-color: #1AAA2A;
    color: white;
    padding: 0px 5px;
    border-radius: 2px;
}

.fourFlex>div>div img {
    width: 90px;
    border: 1px solid rgba(128, 128, 128, 0.371);
}

.fourFlex h3 {
    /* border: 1px solid hotpink; */
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.fourFlex h6 {
    color: #1AAA2A;
    font-weight: 700;
    font-size: 13px;
    /* border: 1px solid #1AAA2A; */
    border-style: dashed;
    display: inline-block;
    padding: 0px 5px;
    background-color: #1aaa2b4f;
}

.fourFlex h3 h3 {
    text-decoration: line-through;
    color: gray;
}

.fourFlex button {
    background-color: #FF6F61;
    color: white;
    font-weight: 700;
    display: block;
    margin: 10px auto 10px auto;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
}

.fourFlex p:last-child {
    /* border: 1px solid rgb(105, 255, 238); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.LTSixFlex {
    /* border: 1px solid pink; */
    margin: auto;
    padding: 30px 10%;
    background-color: #FBFBFB;
    margin-top: 70px;
    margin-bottom: 70px;
}

.LTSixFlex>div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    color: #212121;
}

.LTSixFlex>div:first-child {
    display: flex;
    justify-content: space-between;
}

.LTSixFlex h1 {
    font-weight: bold;
    font-size: 20px;
}

.LTSixFlex>div>div {
    border: 1px solid rgba(128, 128, 128, 0.382);
    background-color: white;
    padding-top: 10px;
}

.LTSixFlex>div>div img {
    width: 120px;
    margin: auto;
    height: 70px;
    margin-bottom: 10px;
}

.LTSixFlex>div>div>div {
    /* border: 1px solid green; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.LTSixFlex>div>div>div p {
    display: flex;
    align-items: center;

}

.LTSixFlex>div>div>div p:first-child {
    color: white;
    background-color: #1AAA2A;
    padding: 0px 5px;
}

.LTvdodiv {
    /* border: 1px solid blue; */
    display: flex;
    text-align: left;
    padding: 0px 10%;
    gap: 30px;
    color: #212121;
    margin-bottom: 50px;
}

.LTvdodiv>div {
    width: 50%;
}

.LTvdodiv>div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.LTvdodiv h2 {
    font-weight: 700;
    font-size: 20px;
}

.vdo {
    width: 462px;
    height: 304px;
}

.LabTests2ndSlider {
    /* border: 1px solid hotpink; */
    width: 80%;
    margin: auto;
    padding: 20px;
}

.LTreviewSlider {
    /* border: 1px solid khaki; */
    padding: 50px 0px;
    background-color: #FBFBFB;
    color: #212121;
    margin-bottom: 40px;
}

.LTreviewSlider h2 {
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 30px;
    font-size: 25px;
}

.LabTests3rdSlider {
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 20px;
}

.LabTests3rdSlider .firstDiv {
    border: 1px solid rgba(128, 128, 128, 0.39);
    padding: 20px;
    margin: 0px 10px;
}

.LabTests3rdSlider .firstDiv img {
    margin: auto;
    height: 50px;
}

.LabTests3rdSlider .firstDiv h2 {
    font-weight: 700;
    font-size: 20px;
}
.LTcontactus{
    /* border: 1px solid gold; */
    margin: 100px 0px;
}
.LTcontactus h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.LTcontactus button{
    color: white;
    background-color: #FF6F61;
    display: flex;
    padding: 7px;
    border-radius: 3px;
    margin: auto;
    margin-top: 30px;
}
.LTlastdiv{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.LTlastdiv h2{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 5px;
}
.LTlastdiv .playstoreBtn{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    gap: 30px;
    margin-top: 80px;
}
@media (max-width:1200px) {
    .Ltfirstdiv {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1000px) {
    .LTsecondDiv>div>div>div {
        grid-template-columns: repeat(1, 1fr);
    }

    .fourFlex {
        grid-template-columns: repeat(3, 1fr);
    }

    .fourFlex>div:last-child {
        display: none;
    }

    .LTSixFlex {
        padding: 30px 50px;
    }
}

@media (max-width:900px) {
    .Ltfirstdiv {
        flex-direction: column;
    }

    .Ltfirstdiv>div {
        width: 100%;
    }

    .Ltfirstdiv h1 {
        text-align: center;
    }

    .Ltfirstdiv p {
        text-align: center;
    }

    .LTvdodiv {
        flex-direction: column;
    }

    .LTvdodiv div {
        width: 100%;

    }

    .LabTests3rdSlider .firstDiv {
        padding: 10px;
    }

    .LabTests3rdSlider .firstDiv p {
        font-size: 14px;
    }

}

@media (max-width:700px) {
    .fourFlex {
        grid-template-columns: repeat(2, 1fr);
    }

    .fourFlex>div:nth-child(3) {
        display: none;
    }

    .LTSixFlex>div {
        grid-template-columns: repeat(3, 1fr);
    }

    .LabTests3rdSlider {
        display: none;
    }

    .labpartnerHeading {
        display: none;
    }
}

@media (max-width:600px) {
    .vdo {
        width: 362px;
        height: 204px;
    }
}

@media (max-width:500px) {
    .LTsecondDiv>div {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width:464px) {
    .fourFlex {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:400px) {
    .fiveBoxLT img {
        width: 20px;
    }

    .fiveBoxLT p {
        padding: 5px;
    }

    .vdo {
        width: 262px;
        height: 184px;
    }
}